<%- include('layout/atas', {judul: 'Detail RPS'}) %> 

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Detail RPS</h3>
          <!-- <p class="text-subtitle text-muted">Give textual form controls like input upgrade with custom styles,
                          sizing, focus states, and more.</p> -->
        </div>
        <!-- <div class="col-12 col-md-6 order-md-2 order-first">
                      <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Input</li>
                          </ol>
                      </nav>
                  </div> -->
      </div>
      <div class="button">
        <br />
        <a href="#" class="btn btn-primary rounded-pill"><i class="fa-solid fa-download"></i> Unduh</a>
        <a href="#" class="btn btn-primary rounded-pill"><i class="fa-solid fa-print"></i> Print</a>
      </div>
      <br />
    </div>

    <!-- Horizontal Input start -->
    <section id="horizontal-input">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">RPS - Matkul</h4>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <!-- <p>To make label in center of form-control, use <code>.col-form-label</code> class with
                                          <code>&lt;label&gt;</code> element. This is default bootstrap class.
                                      </p> -->
                </div>
                <div class="col-md-6">
                  <div class="form-group row align-items-center">
                    <div class="col-lg-4 col-3">
                      <label class="col-form-label"><h6>Kode Matkul</h6></label>
                    </div>
                    <div class="col-lg-5 col-9">
                      <p class="form-control-static" id="staticInput"><%= rps.code %></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row align-items-center">
                    <div class="col-lg-4 col-3">
                      <label class="col-form-label"><h6>Semester</h6></label>
                    </div>
                    <div class="col-lg-6 col-9">
                      <p class="form-control-static" id="staticInput"><%= rps.semester %></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row align-items-center">
                    <div class="col-lg-4 col-3">
                      <label class="col-form-label"><h6>Nama Matkul</h6></label>
                    </div>
                    <div class="col-lg-5 col-9">
                      <p class="form-control-static" id="staticInput"><%= rps.name %></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row align-items-center">
                    <div class="col-lg-4 col-3">
                      <label class="col-form-label"><h6>SKS</h6></label>
                    </div>
                    <div class="col-lg-6 col-9">
                      <p class="form-control-static" id="staticInput"><%= rps.credit %></p>
                    </div>
                  </div>
                </div>
                <br /><br />
              </div>
            </div>

            <div class="card-body">
              <div class="form-group mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><h6>Deskripsi</h6></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly="readonly"><%= rps.description %></textarea>
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><h6>CP</h6></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly="readonly"></textarea>
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><h6>CPMK</h6></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly="readonly"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Horizontal Input end -->
  </div>

<%- include('layout/bawah') %> 
