<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link href="assets/css/pages/rps.css" rel="stylesheet" type="text/css" />
		<title>Cetak RPS</title>
	</head>
	
	<body>
	<div class="calibre" id="calibre_link-0">
		<table class="table_">

			<tbody class="calibre1">
				<tr class="calibre2">
					<td class="td_"><p class="block_" lang="af"><img src="assets/images/000000.png" alt="Image" class="calibre3" /></p></td>
					<td colspan="12" class="td_1"><p class="block_1" lang="af">RENCANA PEMBELAJARAN SEMESTER (RPS)</p><p class="block_1" lang="af">PROGRAM STUDI : Sistem Informasi</p><p class="block_1" lang="af">FAKULTAS /PPs: Teknologi Informasi</p><p class="block_1" lang="af">UNIVERSITAS ANDALAS</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="5" class="td_2"><p class="block_1" lang="af">MATA KULIAH</p></td>
					<td colspan="2" class="td_3"><p class="block_1" lang="af">KODE</p></td>
					<td colspan="3" class="td_4"><p class="block_1" lang="af">Rumpun/Kelompok MK</p></td>
					<td class="td_5"><p class="block_1" lang="af">BOBOT (sks)</p></td>
					<td class="td_6"><p class="block_1" lang="af">SEMESTER</p></td>
					<td class="td_7"><p class="block_1" lang="af">Tgl Penyusunan</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="5" class="td_8"><p class="block_1" lang="af"><%= rps.name %></p></td>
					<td colspan="2" class="td_9"><p class="block_2"><%= rps.code %></p></td>
					<td colspan="3" class="td_10"><p class="block_2">&nbsp;</p></td>
					<td class="td_11"><p class="block_3" lang="af"><%= rps.credit %></p></td>
					<td class="td_12"><p class="block_3" lang="af"><%= rps.semester %></p></td>
					<td class="td_13"><p class="block_2">&nbsp;</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="5" rowspan="2" class="td_8"><p class="block_1" lang="af">OTORISASI</p><p class="block_2">&nbsp;</p><p class="block_2">&nbsp;</p></td>
					<td colspan="3" class="td_14"><p class="block_3" lang="af">Dosen Pengembang RPS</p></td>
					<td colspan="3" class="td_15"><p class="block_3" lang="af">Koordinator Rumpun MK</p></td>
					<td colspan="2" class="td_16"><p class="block_3" lang="af">Ka Program Studi</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="3" class="td_17"><p class="block_4">&nbsp;</p></td>
					<td colspan="3" class="td_18"><p class="block_4">&nbsp;</p></td>
					<td colspan="2" class="td_19"><p class="block_4">&nbsp;</p></td>
				</tr>

				<!-- cp program studi -->
				<tr class="calibre2">
					<td colspan="2" rowspan="6" class="td_20"><p class="block_1" lang="af">Capaian Pembelajaran (CP)</p></td>
					<td colspan="4" class="td_21"><p class="block_1" lang="af"><span class="calibre4">CP Program Studi         </span></p></td>
					<td colspan="7" class="td_22"><p class="block_5">&nbsp;</p></td>
				</tr>

				<% cpps.forEach(function(cp, index) { %>
				<tr class="calibre2">
					<td class="td_23"><p class="block_6" lang="af"><%= cp.code %></p></td>
					<td colspan="10" class="td_24"><p class="block_7" lang="af"><span class="calibre4"><%= cp.name %>​</span></p></td>
				</tr>
				<% }) %>

				<!-- cp mata kuliah -->
				<tr class="calibre2">
					<td colspan="4" class="td_21"><p class="block_8" lang="af"><span class="calibre4">CP Mata Kuliah             </span></p></td>
					<td colspan="7" class="td_22"><p class="block_5">&nbsp;</p></td>
				</tr>
				<tr class="calibre2">
					<td class="td_23"><p class="block_6" lang="af">1</p></td>
					<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web (CP-1, CP-2)</p></td>
				</tr>
				<tr class="calibre2">
					<td class="td_23"><p class="block_6" lang="af">2</p></td>
					<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web (CP-1, CP-2)</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" class="td_20"><p class="block_9" lang="af">Deskripsi Singkat</p><p class="block_9" lang="af">Mata Kuliah</p></td>
					<td colspan="11" class="td_25"><p class="block_10" lang="af"><%= rps.description %></p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" class="td_20"><p class="block_9" lang="af">Materi Pembelajaran/ Pokok Bahasan</p></td>
					<td colspan="11" class="td_25"><p class="block_11" lang="af">Secara garis besar terdapat 2 materi yang akan diberikan yaitu:</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" rowspan="4" class="td_20"><p class="block_9" lang="af">Pustaka</p></td>
					<td colspan="2" class="td_26"><p class="block_16" lang="af">Utama :</p></td>
					<td colspan="9" class="td_27"><p class="block_17">&nbsp;</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="11" class="td_28">
						<ol class="list_">
							<% referensiUtama.forEach(function(revUtama, index) { %>
							<li class="block_18"><span lang="af" class="text_1"><%= revUtama.author %>, <%= revUtama.year %>, “<%= revUtama.title %>”, <%= revUtama.publisher %> </span></li>
							<% }) %>
						</ol>
					</td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" class="td_29"><p class="block_9" lang="af">Pendukung :</p></td>
					<td colspan="9" class="td_30"><p class="block_2">&nbsp;</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="11" class="td_31">
						<ol class="list_">
							<% referensiPendukung.forEach(function(revPendkg, index) { %>
							<li class="block_18"><span lang="af" class="text_1"><%= revPendkg.author %>, <%= revPendkg.year %>, “<%= revPendkg.title %>”, <%= revPendkg.publisher %> </span></li>
							<% }) %>
						</ol>
					</td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" rowspan="2" class="td_20"><p class="block_1" lang="af">Media Pembelajaran</p></td>
					<td colspan="7" class="td_32"><p class="block_1" lang="af">Perangkat lunak :</p></td>
					<td colspan="4" class="td_33"><p class="block_1" lang="af">Perangkat keras :</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="7" class="td_34"><p class="block_19" lang="af">Power point</p><p class="block_19" lang="af">Code Editor (VS Code)</p><p class="block_19" lang="af">Browser</p><p class="block_19" lang="af">NodeJS</p><p class="block_19" lang="af">Rest Client (Postman)</p><p class="block_19" lang="af">Database server (MySQL)</p><p class="block_19" lang="af">Version Control (Git)</p></td>
					<td colspan="4" class="td_35"><p class="block_19" lang="af">Projector</p><p class="block_19" lang="af">Laptop</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" class="td_20"><p class="block_1" lang="af">Team Teaching</p></td>
					<td colspan="11" class="td_25"><p class="block_19" lang="af">-</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" class="td_20"><p class="block_1" lang="af">Assessment</p></td>
					<td colspan="11" class="td_25">
						<p class="block_19" lang="af">
						<% kompPenilaian.forEach(function(komp, index) { %>
							<%= komp.name %>,
						<% }) %>
						</p></td>
				</tr>
				<tr class="calibre2">
					<td colspan="2" class="td_36"><p class="block_1" lang="af">Matakuliah Syarat</p></td>
					<td colspan="11" class="td_37">
						<ol class="list_">
							<li class="block_14"><span lang="af">Dasar-Dasar Pemrograman</span></li>
						</ol>
					</td>
				</tr>
			</tbody>
		</table>

		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>
		<p class="block_2">&nbsp;</p>

		<table class="table_1">
			<tbody class="calibre1">
				<tr class="calibre2">
					<td class="td_38"><p class="block_20" lang="af">Mg ke-</p></td>
					<td class="td_39"><p class="block_21" lang="af">Kemampuan akhir yg diharapkan</p><p class="block_4">&nbsp;</p></td>
					<td class="td_40"><p class="block_21" lang="af">Bahan Kajian</p><p class="block_20" lang="af">(Materi Ajar)</p><p class="block_20" lang="af">Dan Referensi</p></td>
					<td class="td_41"><p class="block_20" lang="af">Metode Pembelajaran dan Alokasi Waktu</p></td>
					<td class="td_42"><p class="block_22" lang="af">Pengalaman Belajar Mahasiswa</p></td>
					<td class="td_43"><p class="block_21" lang="af">Kriteria (Indikator) Penilaian</p></td>
					<td class="td_44"><p class="block_20" lang="af">Bobot Penilan</p><p class="block_20" lang="af">(%)</p></td>
				</tr>
				<tr class="calibre2">
					<td class="td_45"><p class="block_23" lang="af">(1)</p></td>
					<td class="td_46"><p class="block_23" lang="af">(2)</p></td>
					<td class="td_47"><p class="block_23" lang="af">(3)</p></td>
					<td class="td_48"><p class="block_23" lang="af">(4)</p></td>
					<td class="td_49"><p class="block_23" lang="af">(5)</p></td>
					<td class="td_50"><p class="block_23" lang="af">(6)</p></td>
					<td class="td_51"><p class="block_23" lang="af">(7)</p></td>
				</tr>
				<% pertMgg.forEach(function(pert, index) { %>
				<tr class="calibre2">
					<td class="td_45"><p class="block_24" lang="af"><%= pert.week %></p></td>
					<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web</p></td>
					<td class="td_47"><%= pert.material %></td>
					<td class="td_52"><p class="block_27" lang="af"><%= pert.method %></p></td>
					<td class="td_49"><p class="block_28" lang="af"><%= pert.student_experience %></p></td>
					<td class="td_50"><p class="block_27" lang="af"></p></td>
					<td class="td_51"><p class="block_29">&nbsp;</p></td>
				</tr>
				<% }) %>
			</tbody>
		</table>

	</div>

<script>
	window.print()
</script>

</body>
</html>