<%- include('layout/atas', {judul: 'RPS Admin'}) %>
                
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Rencana Pembelajaran Semester</h3>
                    <p class="text-subtitle text-muted"> </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <a href="/admin/laporanrpsadmin" class="btn btn-primary">Laporan</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">DataTable</li> -->
                        </ol>
                    </nav>
                </div>
                <!-- <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <a href="/admin/persentaserps" class="btn btn-primary">Persentase RPS</a>
                        </ol>
                    </nav>
                </div> -->
            </div>
        </div>
        <section class="section">
            <div class="card">
                <!-- <div class="card-header">
                    Simple Datatable
                </div> -->
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>Kode Mata Kuliah</th>
                                <th>Nama Mata Kuliah</th>
                                <th>SKS</th>
                                <th>Semester</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% matkul.forEach(mtkl => { %>
                                <tr>
                                    <td><%= mtkl.code %></td>
                                    <td><%= mtkl.name %></td>
                                    <td><%= mtkl.credit %></td>
                                    <td><%= mtkl.semester %></td>
                                    <td>   
                                        <a href="/admin/menentukandosen-<%= mtkl.id %>" class="btn btn-primary rounded-pill">Dosen</a>         
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>

                    <!-- Button trigger for tambah form modal -->
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#inlineForm">
                        + Tambah Matkul
                    </button>
    
                    <!--tambah form Modal -->
                    <form action="/admin/tambahmatkul" method="post">
                        <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel33" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel33">Tambah Mata Kuliah </h4>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- <label>Pilih Kurikulum </label> -->
                                        <div class="form-group">
                                            <select class="form-select" name="kurikulum" required>
                                                <% kurikulum.forEach(krklm => { %>                                                     
                                                    <option value="<%= krklm.id %>"><%= krklm.name %> </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <!-- <label>Kode Mata Kuliah </label> -->
                                        <div class="input-group mb-3">
                                            <!-- <input type="text" placeholder="Masukkan kode mata kuliah" name="kodeMatkul" required
                                                class="form-control"> -->
                                                <span class="input-group-text" id="basic-addon1">JSI</span>
                                                <input type="text" class="form-control" placeholder="Masukkan kode mata kuliah" name="kodeMatkul" required>
                                        </div>
                                        <!-- <label>Nama Mata Kuliah </label> -->
                                        <div class="form-group">
                                            <input type="text" placeholder="Masukkan nama mata kuliah" name="nama" required
                                                class="form-control">
                                        </div>
                                        <!-- <label>Alias</label> -->
                                        <div class="form-group">
                                            <input type="text" placeholder="Masukkan alias" name="alias" required
                                                class="form-control">
                                        </div>
                                        <!-- <label>Jumlah SKS</label> -->
                                        <div class="form-group">
                                            <select class="form-select" name="bobotSKS" required>                                                    
                                                    <option >Pilih Jumlah SKS</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                            </select>
                                        </div>
                                        <!-- <label>Semester</label> -->
                                        <div class="form-group">
                                            <select class="form-select" name="semester" required>                                                    
                                                    <option >Pilih semester</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Masukkan deskripsi" name="deskripsi" required
                                                class="form-control">
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="form-floating">
                                                <textarea class="form-control" name="deskripsi"
                                                    id="floatingTextarea"></textarea>
                                                <label for="floatingTextarea">Deskripsi</label>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-light-secondary">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Reset</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary ml-1">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Tambah</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

<%- include('layout/bawah') %> 