<%- include('layout/atas', {judul: 'RPS'}) %>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Rencana Pembelajaran Semester</h3>
          <p class="text-subtitle text-muted"></p>
        </div>
        <!-- <div class="col-12 col-md-6 order-md-2 order-first">
                      <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                          </ol>
                      </nav>
                  </div> -->
      </div>
    </div>
    <section class="section">
      <div class="card">
        <!-- <div class="card-header">
                      Simple Datatable
                  </div> -->
        <div class="card-body">
          <!-- <h4 class="card-title">Mata Kuliah yang Diampu</h4> -->
          <table class="table table-striped" id="table1">
            <thead>
              <tr>
                <th>Kode Mata Kuliah</th>
                <th>Nama Mata Kuliah</th>
                <th>Semester</th>
                <th>SKS</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% rpsmhs.forEach(function(rps, index) { %>
                <tr>
                  <td><%= rps.code %></td>
                  <td><%= rps.name %></td>
                  <td><%= rps.semester %></td>
                  <td><%= rps.credit %></td>
                  <td>
                    <a href="/mahasiswa/detailrps-<%= rps.id %> " class="btn btn-primary rounded-pill">Detail</a>
                  </td>
                </tr>
              <% }) %> 
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>

<%- include('layout/bawah') %> 